body {
  font-size: 20px;
}

p,
h1,h2,h3,h4,h5,h6 {
  max-width: 600px;
  margin: 0 auto;

  * + & {
    margin-top: 36px;
  }
}

p {
  line-height: 1.5em;
  font-weight: 200;
}

h1,h2,h3,h4,h5,h6 {
  color: #29a8e0;
  font-weight: 600;
}